@value borderColor from 'SharedStyles/globalStyles.css';

.input {
  padding: 1rem;
  width: 100%;
  border: 1px solid borderColor;
  border-radius: 2px;
  outline: none;
}

.input:focus {
  border: 1px solid #40a9ff;
}